.pc-category {
    position: inherit;
    margin-bottom: 20px;

    .pc-category-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

        & * {
            cursor: pointer;
        }

        .pc-category-details {
            &-title {
                margin-bottom: 8px;
                font-family: var(--font-primary);
            }

            &-description {
                margin-bottom: 8px;
                font-weight: normal;
            }
        }

        .pc-category-caret {
            float: right;
            display: inline-flex;
            color: var(--interactive-normal);
        }
    }

    .pc-category-content {
        padding: 0 20px;
    }

    .pc-category-description {
        font-size: 12px;
        color: #ddd;
        margin-top: 10px;
    }
}