.pc-settings-divider {
    margin: 10px 0;
}

.pc-margin-top-20 {
    margin-top: 20px;
}

.pc-margin-left-20 {
    margin-left: 20px;
}

.powercord-notice:not(:first-child) {
    border-top-left-radius: 0;
}