.pc-notices {
    padding: 20px;
    position: fixed;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    bottom: 0;
    align-items: flex-end;
    right: 0;
    z-index: 101;

    & > * {
        pointer-events: auto;
    }

    .pc-notice-container {
        position: relative;
        border-radius: 5px;
        color: #ddd;
        background: var(--background-secondary-alt);
        min-width: 250px;
        box-shadow: var(--elevation-high);
        overflow: hidden;
        margin-top: 20px;
        max-width: 400px;
        animation: open .5s ease;
        display: flex;
        flex-direction: column;

        &.pc-notice-closing {
            animation: close .7s ease-out;
        }

        .pc-notice-header {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pc-notice-icon {
            margin-right: 10px;
        }

        .pc-notice-content {
            padding: 15px;
            padding-bottom: 10px;
            padding-top: 0;

            div[class*="paragraph"] {
                margin-bottom: 0 !important;
            }
        }

        .pc-notice-progress {
            z-index: 10;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .pc-notice-progress-bar {
            background: var(--brand-experiment);
            height: 2px;
        }

        .pc-notice-header-name {
            font-size: 17px;
            font-weight: 600;
        }

        .pc-notice-close {
            margin-left: 10px;

            > div {
                display: inline-flex;
            }
        }

        .pc-notice-close svg {
            width: 16px;
            height: 16px;
        }

        .pc-notice-footer {
            background: var(--background-tertiary);
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: auto;

            .pc-notice-button {
                padding: 5px;
                width: 100%;
            }

            .pc-notice-button + .pc-notice-button {
                margin-left: 5px;
            }
        }
    }
}

#app-mount .powercord-announcement {
    border-radius: 0;

    &:first-child {
        border-radius: 8px 0 0;
    }
}

@keyframes open {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    75% {
        transform: translateX(-15px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes close {
    to {
        transform: translateX(500px);
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}