.pc-notices {
    position: fixed;
    bottom: 20px;
    right: 20px;

    .pc-notice-container {
        position: relative;
        border-radius: 4px;
        color: #ddd;
        background: var(--background-secondary-alt);
        min-width: 250px;
        box-shadow: var(--elevation-high);
        overflow: hidden;
        margin-top: 20px;
        max-width: 400px;
        animation: .6s open ease-in;
        display: flex;
        flex-direction: column;

        &.pc-notice-closing {
            animation: .6s close ease-out;
        }
        
        .pc-notice-header {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pc-notice-content {
            padding: 15px;
            padding-top: 0;
        }
    
        .pc-notice-progress {
            z-index: 10;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    
        .pc-notice-progress-bar {
            background: var(--brand-experiment);
            height: 2px;
        }
    
        .pc-notice-header-name {
            font-size: 17px;
            font-weight: 600;
        }
    
        .pc-notice-close {
            margin-left: 10px;
            
            > div {
                display: inline-flex;
            }
        }

        .pc-notice-close svg {
            width: 16px;
            height: 16px;
        }

        .pc-notice-footer {
            background: var(--background-tertiary);
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: auto;

            .pc-notice-button {
                padding: 5px;
            }

            .pc-notice-button + .pc-notice-button {
                margin-left: 5px;
            }
        }
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes close {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}