.pc-settings-panel {
    color: #ddd;

    .pc-settings-title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        font-weight: 500;
        font-family: var(--font-display);
        color: var(--header-primary);
    }

    .pc-settings-toolbutton {
        padding: 5px;
        display: flex;
        border-radius: 5px;
        color: var(--interactive-normal);

        &:hover {
            background: var(--background-modifier-hover);
            color: var(--interactive-hover);
            cursor: pointer;
        }

        &:active {
            background: var(--background-modifier-active);
            color: var(--interactive-active);
        }
    }

    .pc-settings-addons-controls {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .pc-settings-overflow-menu,
        .pc-settings-open-folder,
        .pc-settings-load-missing {
            margin-left: 5px;

            svg {
                vertical-align: middle;
            }
        }

        .pc-settings-addons-search {
            width: 250px;
            border-radius: 3px;
            padding: 3px;

            & > div {
                overflow: initial !important;

                & > input {
                    padding: 2px 3px !important;

                    &::placeholder {
                        font-size: 13px !important;
                    }
                }
            }
        }

        .pc-settings-addons-buttons {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: .5rem;

            @media only screen and (max-width: 925px) {
                .pc-settings-addon-panel-button-text {
                    display: none;
                }
            }

            .pc-settings-addon-panel-button {
                color: var(--interactive-normal);
                transition: background-color .05s;
                padding: 5px;
                display: flex;
                align-items: center;
                border-radius: 5px;
                text-align: center;
                gap: .3rem;

                &:hover {
                    background: var(--background-modifier-hover);
                    color: var(--interactive-hover);
                    cursor: pointer;
                }

                &:active {
                    transform: translateY(1px);
                    background: var(--background-modifier-active);
                    color: var(--interactive-active);
                    cursor: pointer;
                }
            }
        }
    }

    .pc-settings-card-scroller {
        display: flex;
        flex-direction: column;
    }

    .pc-settings-title-caret {
        color: var(--text-muted);
    }

    .pc-settings-title-name {
        cursor: pointer;
        color: var(--header-secondary);

        &:hover {
            color: var(--header-primary);
        }
    }

    .pc-settings-title-sub {
        color: var(--header-primary);
    }
}

.pc-settings-overflow-header {
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    line-height: 16px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
}